/* Style Settings  */
html, *, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #000000;
}

#navbar, #footer {
  background-color: #DBD7D2;
  width: 100%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-flow: row nowrap;
  justify-content: center;
}

.nav-content, .footer-content {
  width: 50%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-flow: row nowrap;
  justify-content: center;

  text-align: center;
}

.nav-content > a, .footer-content > div {
  text-decoration: none;
  margin: 15px;
  color: #000000;
}

#banner {
  font-size: 50px;
  color: #FF8C00;
}

.container {
  width: 100%;
}

.content {
  display: table;
  margin: 50px auto;
}

#options-container {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

#options-container > div {
  margin: 10px;
  font-size: 20px;
}