/* Style Settings  */
html, *, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: cornflowerblue;
}

#navbar {
  width: 100%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-flow: row nowrap;
  justify-content: center;

  border: 1px solid black;
}

.nav-content {
  width: 50%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-flow: row nowrap;
  justify-content: space-evenly;

  text-align: center;
  margin: 10px;
}

.nav-content > a {
  text-decoration: none;
}

#banner {
  font-size: 50px;
}

.container {
  width: 100%;
}

.content {
  display: table;
  margin: 50px auto;
}

#game-options {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

#game-options > div {
  margin: 10px;
  font-size: 20px;
}

button {
  margin: 10px;
}